<div id="person-info">
	<% if defined?(show_name) and show_name and defined?(person.full_name) and person.full_name != nil %>
		<span><b>Full name:</b> <%= person.full_name %></span>
	<% end %>
	<% if defined?(person.employee) and person.employee != nil %>
		<span><b>SAP Number:</b> <%= person.employee.sap_number %></span>
	<% end %>
	<% if defined?(person.date_of_birth) and person.date_of_birth != nil %>
		<span><b>Dob:</b> <%= person.date_of_birth %></span>
	<% end %>
</div>