<h1>Referrals</h1>
<table width="30%">
	<tr>
		<th>Case nature</th>
		<th>Referral reason</th>
	</tr>
	<% @referrals.each do |referral| %>
	<tr>
		<td><%= h(referral.person.full_name) unless referral.person == nil %></td>
		<td><%= h(referral.case_nature) %></td>
  		<td><%= h(referral.referral_reason.reason) %></td>
	</tr>
	<% end %>
<table>

<%= link_to "New referral", new_referral_path %>