<% title "Referrals" %>
<div class="grid_16 widget first">
    <div class="widget_title clearfix">
        <h2>List</h2>
		<ul>
			<li><%= link_to "New referral", new_referral_path, :class => "btn orange right" %></li>
		</ul>
    </div>
    <div class="widget_body">
		<div class="widget_options clearfix">
		</div>
		<table>
			<thead>
				<tr>
					<td style="width:40px">&nbsp;</td>
					<td style="width:90px">Case Reference Number</td>
					<td style="width: 150px;">Person</td>
					<td>Case nature</td>
					<td style="width: 170px;">Referral reason</td>
					<td class="action">Action</td>
				</tr>
			</thead>
			<tbody id="referrals">
				<% @referrals.each do |referral| %>
					<%= render 'referral', :referral => referral %>
				<% end %>
			</tbody>
		</table>
		<div id="referrals-paginator"><%= paginate @referrals, :remote => true %></div>
    </div>
</div>
