.formtastic textarea {
	padding: 5px;
}
.formtastic {
	.input {
		padding: 5px;
		margin: 0;

		.label {
			padding-top:0.4em;
		}
	}
}
.formtastic button[type=submit] {
	margin: 8px 2px;
}
.formtastic .buttons {
	padding: 0;
}
.formtastic .button {
	padding: 5px 5px 5px 25%;
	float: none;
}
.formtastic .errors {
    margin: 4px 15px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}
.formtastic .errors li {
	background: url("/assets/chameleon-circuit/fugue/cross.png") no-repeat 0 2px;
	padding-left: 20px;
}
.formtastic abbr {
	color: #CC0000;
} 
.formtastic .input .inline-hints {
	color: #8F8F8F;
    display: block;
    font-size: 0.833em;
    padding-bottom: 3px;
    margin: 0 25%;
}
.formtastic .input .nested-attributes li {width: 48%; float:left;}
.formtastic .nested-attributes .inputs li.odd, 
.formtastic .nested-attributes .inputs li.even {
	background: transparent;
}
.formtastic .nested-attributes li label {width: 100%;}
.formtastic .nested-attributes .file-list .input {padding: 1px; margin: 0;}
.formtastic .file-list {padding-left: 25%;}
.formtastic .file-list .inputs {
	margin-top: 5px;
	border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
}
.formtastic .file-list .inputs:first-child {padding-top:0px;}

.one-line-choices .choice {
	float: left;
	width: auto;
	margin: 0.1em 10px 0.5em;
} 