.formtastic .input {
	padding: 5px;
	margin: 0;
}
.formtastic .buttons {
	padding: 0px;
}
.formtastic .button {
	padding: 5px 5px 5px 25%;
	float: none;
}
.formtastic .errors {
    margin: 4px 15px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}
.formtastic .errors li {
	background: url("/assets/chameleon-circuit/fugue/cross.png") no-repeat 0 2px;
	padding-left: 20px;
}
.formtastic abbr {
	color: #CC0000;
} 
.formtastic .input .inline-hints {
	color: #8F8F8F;
    display: block;
    font-size: 0.833em;
    padding-bottom: 3px;
    margin: 0 25%;
}
.formtastic .input .nested-attributes li {width: 48%; float:left;}
.formtastic .input .nested-attributes li.odd, .formtastic .input .nested-attributes li.even {background: transparent;}
.formtastic .input .nested-attributes li label {width: 100%;}
.formtastic #upload-file-list {padding-left: 25%;}
